@import '/styles/style.css';

.footer {
    background-color: var(--Dark-Blue-bg);
    color: var(--neutra);
    
}

.footer_logo {
    padding: 1rem 2rem;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}


.footer_phone , .footer_email {
    padding: .5rem 2rem;
}

.footer_div_list {          
    padding: 1rem 2rem;
    
}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_list_strong {
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
    font-weight: 400 bolder;
}

.footer_list-link {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: .8rem;
}

.footer_icons {
    padding: 2rem 0rem;
    text-align: center;     
}


@media (min-width: 1440px) {
  
.footer {
    display: flex;
    justify-content: space-around;
}

.footer-contact {
    margin: 1.5rem 0rem; 
}

.footer_div_list , .footer_icons {
    margin: 5rem 0rem;
}

.footer_list_strong {
    font-family: var(--fonte-primaria);
    font-size: 1.6rem;
    font-weight: 400 bolder;
}

.footer_list-link {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.1rem;
}

.footer_icons {
  display: inline-flex;
  gap: 1rem;
  font-size: 1.5rem;

}





}



