@import '/styles/style.css';
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 1rem;
}

.header-nav-logo {
    max-width: 35%;
}

.header-nav-list {
    display: inline-flex;
    gap: 1rem;
}

a  {
    text-decoration: none;
    color: var(--Dark-Blue-link);
    font-family: var(--fonte-secundaria);
    font-weight: 400 bolder;

}