.nav {
    display: flex;
    justify-content: space-between;
    font-family: var(--fonte-secundaria);
    
    
}

.logo {
    margin: 1rem;
    
}



.list {
    display: flex;
    color: var(--neutra);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    margin: 2rem;
    gap: 1rem;

}

@media screen and (min-width: 1024px) {
    .logo {
      display: flex; 
      
    }

    .logo {
        
    }
    
}

