@import '/styles/style.css';

.container {
  text-align: center;  
}

.main_container-img {
    width: 100%;
}

.main_container-text {
    font-family: var(--font-primaria);
    font-weight: 700 bolder;  
    font-size: 1.6rem;
    line-height: normal;
}

.main_container-paragrafo {
    font-family: var(--fonte-secundaria);
    font-weight: 400 bolder;
    line-height: 1rem;
    line-height: normal;
   
    font-size: 1rem;
    margin-top: 1rem;
}

.container-button {
 background-color: var(--blue-2);
 color: var(--neutra);
 padding: 1rem 3rem;


}