@import '/styles/style.css';

.produtividade {
    margin-top: 2rem;   
    text-align: center;
}

.produtividade_div-img {
   max-width: 100%;
}

.produtividade_div-text {
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;

}
.produtividade_div-paragrafo {
  font-family: var(--fonte-secundaria);
  font-weight: 400 bolder;
  line-height: 1rem;
  line-height: normal;

  font-size: 1rem;
  margin-top: 1rem;


}


.produtividade_div-link-arrow {
    display: inline-flex;
    font-family: var(--fonte-secundaria);
    font-weight: 400 bolder;
    line-height: 1rem;
    line-height: normal;  
    font-size: 1rem;
    color: hsl(170, 45%, 43%);
    text-decoration: underline;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    
  }

  .produtividade_div-link-arrow:hover {
    color: hsl(170, 42%, 22%);
  } 


  