// Fontes
$font-primaria: 'Open Sans', sans-serif;
$fonte-secundaria:'Raleway', sans-serif;

//Cores

$Dark-1:hsl(217, 28%, 15%);
$Dark-2:hsl(218, 28%, 13%);
$Dark-3:hsl(216, 53%, 9%);
$Dark-4:hsl(219, 30%, 18%);


$Blue-1:hsl(176, 68%, 64%);
$Blue-2:hsl(198, 60%, 50%);
$Erroe: hsl(0, 100%, 63%);


$Neutra:hsl(0, 0%, 100%);