 @import '/styles/components/header.css';
 @import'/styles/components/main.css';
 @import '/styles/components/servicos.css';
 @import '/styles/components/proditividade.css';
 @import '/styles/components/footer.css';
 
 body {
    background-color: var(--neutra);
    font-size: 14px;
 }

:root {
--font-primaria: 'Open Sans', sans-serif;
--fonte-secundaria:'Raleway', sans-serif;

--dark-main:hsl(218, 28%, 13%);
--dark-bg:hsl(217, 28%, 15%);



--blue-1:hsl(176, 68%, 64%);
--blue-2:hsl(198, 60%, 50%);
--erro: hsl(0, 100%, 63%);


--neutra:hsl(0, 0%, 100%);


/*Light mode*/

/* Primary*/

--Dark-Blue-link: hsl(217, 28%, 15%);
--Dark-Blue-main: hsl(218, 28%, 13%);
--Dark-Blue-footer: hsl(216, 53%, 9%);
--Dark-Blue-bg: hsl(219, 30%, 18%);

/* Accent */

--Cyan-gradient: hsl(176, 68%, 64%);
--Blue-gradient: hsl(198, 60%, 50%);
--Light-Red: hsl(0, 100%, 63%);

}

